/*COLORS*/

$primary-color: #27ce88;

$secondary-color: #ffd659;

$white-color: #fff;
$black-color: #000;

$gray-1-color: #333;

/*TIPOGRAPHY*/

$principal-font: "Roboto", sans-serif;

/*BREAKPOINTS*/
$bp-largest: 90em; // 1440px
$bp-lg: 75em; // 1200px
$bp-md: 62em; // 992px
$bp-sm: 48em; // 768px
